<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>Quem sou</title>

	<link href="css/style.default.css" rel="stylesheet">

	
</head>

<body class="signin">


	<section>

		<div class="panel panel-signin">
			<div class="panel-body">
				<diV class="logo text-center">
					<img src="images/logo-primary.png" alt="Chain Logo">
				</diV>

				<br>
				<p style="text-align: center;"><img width="200"
						src="https://i.pinimg.com/originals/c6/f1/3b/c6f13b01a53d7152d7f235838efe5a09.gif" alt=""></p>
				<h2 style="text-align: center;">Cícero Ricardo</h2>
				<p style="text-align: center;">Descrição: Eu tenho 19 anos, sou um aluno do 4° Ano do curso tecnico de
					informática. Meu sonho é se tornar um grande programador.
				</p>



				<p style="text-align: center;"><a href="/" class="btn btn-success">Voltar</a></p>
			</div>
		</diV>
	</section>


</body>

</html>